$black: #222222;
$green: #879b6c;
$gray: #929292;
$white: #d8d8d8;
$inputWidth: 300px;
$inputHeight: 52px;
$spacing: 10px;
$radius: 5px;
$fontSize: 18px;
$iconSize: 32px;
$shadow: $black 0 0 5px;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  background-color: $black;
}

svg {
  flex: 1;
}

.land {
  fill: $white;
  fill-opacity: 1;
  stroke: $black;
  stroke-opacity: 1;
  stroke-width: 0.5;

  &:hover {
    fill: $gray;
  }

  &[correct] {
    fill: $green;
  }
}

.pannel {
  position: absolute;
  padding: $spacing;
  right: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: $spacing $spacing 0 0;
}

#description {
  color: white;
  margin: 0;
  text-align: right;
  text-shadow: $shadow;
}

#input {
  opacity: 0.8;

  box-sizing: border-box;

  padding: $spacing;

  height: $inputHeight;

  font-size: $fontSize;

  border-radius: $radius;
  border: 0;

  width: $inputWidth;
  box-shadow: $shadow;
}

.icon {
  background-color: $white;
  padding: $spacing;
  border-radius: $radius;
  font-size: $iconSize;
  margin-left: $spacing;
  color: $black;
  box-shadow: $shadow;

  &:hover {
    background-color: $gray;
  }
}

.github-link {
  display: flex;
  text-decoration: none;
}
